*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{    
    font-family: 'Roboto', sans-serif;     
}

.cabecalho{
    height: 80px;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 40px;
    width: 40px;
    margin: 10px;
}

.menu{
    width: 200px;
    display: flex;
    align-items: center;
    padding: 10px;    
}

.menu a{
    margin: 5px;
    color: rgb(2, 253, 2);    
}

.menu li{
    padding: 10px 30px;
    border-radius: 5px;  
    font-size: 15px;
}

.menu li:hover{
    background: rgb(255, 129, 10);
    transition: 1s;
    color: white;
    
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.lista1{
    height: 150px;
    width: 20%;   
    margin: 10px;  
    
}

.itens{
    display: flex;
    justify-content: space-between;
}

.lista1 button{
    height: 30px;
    width: 80px;
    font-weight: bold;
     font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    background-color: chartreuse;
}

.lista1 p {
    background-color: rgb(248, 103, 0);
    width: 100%;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;

}

.lista2 p {
    background-color: rgb(248, 103, 0);
    width: 100%;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;

}


.lista2 button{
    height: 30px;
    width: 80px;
    font-weight: bold;
     font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
    background-color: chartreuse;
}

.lista2{
    margin: 10px;
    height: 150px;
    width: 30%;
    
}

.titulo{
    text-align: center;
    padding: 30px;
}




