*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{    
    font-family: 'Roboto', sans-serif; 
    
}

.cabecalho{
    height: 80px;
    background-color: #212121;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 40px;
    width: 40px;
    margin: 10px;
}

.menu{
    width: 200px;
    display: flex;
    align-items: center;
    padding: 10px;    
}

.menu a{
    margin: 5px;
    color: rgb(2, 253, 2);    
}

.menu li{
    padding: 10px 30px;
    border-radius: 5px;  
}

.menu li:hover{
    background: rgb(255, 129, 10);
    transition: 1s;
    color: white;
}


